<h1> Our best artists</h1>

<% @artists.each do |artist| %>
<%= link_to "Createa new Artist, new_artist_path" %>
<% end %>
<br>
<%= link_to "New Artist", artist_new_artist_path %>
<%= link_to "All Artists", artist_artists_path %>

<% @artists.each do |artist| %>
<h2> <%= link_to artist.name %></h2>
<%= image_tag artist.img_url %>

<% end %>
