<div class="artists artist-flex">
	<div class="artist-big"><%= image_tag @artist.img_url %></div>
	<div class="container-data">
	<h2><%= @artist.name %></h2>
		<hr>
	<h4>Age: <%= @artist.age %></h4>
		<br>
		<br>
		
		
<h3>All songs in repository:</h3>
	
    <% if @artist.songs.present? %>
    <ul>
        <% @artist.songs.each do |songs| %>
            <li> <%= link_to songs.title %>
        <% end %>
    </ul>

  <% else %>
    <p> This artist has any songs yet :( </p>
  <% end %>
	</div>
</div>


<footer>
	<%= link_to "All artists", artists_path(@artist) %>
  <%= link_to "Add new artist", new_artist_song_path(@artist) %>
  <%= link_to "Edit this artist", edit_artist_path(@artist) %>
  <%= link_to "Delete this artist", artist_path(@artist), method: :delete, data: {confirm: "Are you sure to delete this artist and all his songs?"} %>
</footer>
