<h1> <%= @song.title %></h1>
<div class="details-song">
	<p><strong> Title: </strong> <%= @song.title %></p>
	<p><strong> Description:</strong> <%= @song.description %></p>
	<p><strong> Release year:</strong> <%= @song.year %></p>
</div>
<footer>
	<%= link_to "All songs", songs_path(@artist) %>
  <%= link_to "Add new song", new_song_path %>
	<%= link_to "Edit song description", edit_song_path(@song.id) %>
	<%= link_to "Delete song", song_path(id: @song.id), method: :delete, data: {confirm: "Are you sure to delete this song?" } %>
</footer>