<h1> <%= @song.title %></h1>

<p> Title: <%= @song.title %></p>
<p> Description: <%= @song.description %></p>
<p> Release year: <%= @song.year %></p>

<footer>
	<%= link_to "All songs", songs_path(@artist) %>
  <%= link_to "Add new song", new_song_path %>
	<%= link_to "Edit song description", edit_song_path(@song.id) %>
	<%= link_to "Delete song", song_path(id: @song.id), method: :delete, data: {confirm: "Are you sure to delete this song?" } %>
</footer>